.welcome_body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;

  gap: 50px;
  padding: 150px;
}

.welcome_text {
  background-color: gray;
  border: 2px black solid;
  border-collapse: separate;
  padding: 8px;
}

.ticket_head_div {
  position: relative;
  margin: 10px
}

.ticket_buttons {
  display: flex;
  gap: 12px;
  position: relative;
}